* {
  margin: 0;
  box-sizing: border-box;
}

@tailwind base;

@layer base {
  html {
    @apply font-raleway;
  }
}

@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Raleway";
  src: url("../Assets/Raleway/Raleway-VariableFont_wght.ttf");
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.map-wrap {
  position: relative;
  width: 100%;
  height: calc(100vh - 0px);
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
}

footer {
  background: #181818;
  text-align: center;
  margin-top: auto;
  padding: 15px;
  color: #fffffe;
  font-size: 20px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  /* position: sticky; */
}

footer a {
  text-decoration: none;
  color: #4fc4cf;
}

.navbar a {
  text-decoration: none;
  color: #181818;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}